modules = ["nodejs-20", "web", "python-3.12", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development node_modules/.bin/tsx server/index.ts"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SMTP_PASS = "tuwaiq123"
SMTP_USER = "tuwaiq"
SMTP_HOST = "mail.smtp2go.com"
SMTP_PORT = "587"
SMTP_FROM = "noreply@tuwaiq-sa.online"
MONGODB_URI = "mongodb+srv://Vercel-Admin-tuwaiq:ASDqwe123@tuwaiq.cscerpg.mongodb.net/?appName=tuwaiq"
SMTP2GO_API_KEY = "api-09F858C7A2034AB18A41AE3AE8FB7BD4"
APP_URL = "https://tuwaiqassociation.sa"
PAYMOB_SECRET_KEY = "sau_sk_test_f36ad8962c3334340275d0facb7c3b25b21124a3fdd57ed7cd84af9b06fa9532"
PAYMOB_PUBLIC_KEY = "sau_pk_test_ItHMliyVOcc9pIRz8IwCRK6ACPZH7uvm"
PAYMOB_HMAC_SECRET = "D8587EEF59F39CFE2DFA2CFBFA3F833C"
PAYMOB_INTEGRATION_ID = "23841"
RAJHI_TRANPORTAL_ID = "4wJ0Z1MeGyUk71e"
RAJHI_RESOURCE_KEY = "60842587636760842587636760842587"
RAJHI_TRANPORTAL_PASSWORD = "eG@K79rv4@zOG9!"
BASE_URL = "https://tuwaiqassociation.sa"
OPENAI_API_KEY = "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"
VAPID_PUBLIC_KEY = "BJJF74-lMpjcihxmsFCpbIwLhz_Q6WZHt_oXZr4QOtpkZlXA7P2I-AkavSDh6JuveJE2ovFqux32y_idXvGs-GA"
VAPID_PRIVATE_KEY = "lwkn-YRZvEEhqUej2KRiK7L-UXKzbHuCFbP_cgSsWZ8"
JWT_SECRET = "0f762f06b6a634df30c28a9072f99e45b901d702c5bdd8ddc3581612a77ce9dc22842fa82eaa06f4d7e01758111a94c5"
GROQ_API_KEY = "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"
VITE_GOOGLE_CLIENT_ID = "728865404775-r7bscobuj2k7jffaeilebdpi2tv7sclc.apps.googleusercontent.com"
GOOGLE_CLIENT_ID = "728865404775-r7bscobuj2k7jffaeilebdpi2tv7sclc.apps.googleusercontent.com"
APPLE_TEAM_ID = "V4K6RM59LS"
APPLE_KEY_ID = "2DW9KXBZQ3"
APPLE_CLIENT_ID = "tuwaiqassociation.sa"
APPLE_PRIVATE_KEY_B64 = "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR1RBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJIa3dkd0lCQVFRZ1l6RVpaYk84bGhVY3NDUHMKZ3R5enIxSEpXWlA3RS9iOUswSnVUNDhXcWwyZ0NnWUlLb1pJemowREFRZWhSQU5DQUFRK2ZKWWhNTHBKRFFvbQorSWdNeHBTVncxR2Q3anZjM241c2t2MlN2eE1UNEtoWVVFTzA2amQ0Z0pBQmppVjB4ZE9XYk9zMTJTNUhqNXFTCkVXUWVsRVZmCi0tLS0tRU5EIFBSSVZBVEUgS0VZLS0tLS0="
