modules = ["nodejs-20", "python-3.12", "web"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx server/index.ts"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[userenv]

[userenv.shared]
SMTP_PASS = "tuwaiq123"
SMTP_USER = "tuwaiq"
SMTP_HOST = "mail.smtp2go.com"
SMTP_PORT = "587"
SMTP_FROM = "noreply@tuwaiq-sa.online"
SMTP2GO_API_KEY = "api-8F7AC24E891D4EC6A3856043ABBDD95FSMTP2GO"
MONGODB_URI = "mongodb+srv://Vercel-Admin-tuwaiq:ASDqwe123@tuwaiq.cscerpg.mongodb.net/?appName=tuwaiq"
